spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/fraud_engine
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false

  flyway:
    enabled: true
    baseline-on-migrate: true
    schemas: public

server:
  port: 8080

logging:
  level:
    root: INFO
